<?xml version="1.0" encoding="GB2312"?>
<ConfigItem>
  <Radar>
	<IP Value="192.168.1.22"/>
	<Port Value="2301"/>
	<RecvPort Value="6001"/>
  </Radar>
    <!-- <Radar> -->
	<!-- <IP Value="192.168.1.23"/> -->
	<!-- <Port Value="2302"/> -->
  <!-- </Radar> -->
  <BXC>
	<IP Value="192.168.1.23"/>
	<Port Value="2302"/>
	<RecvPort Value="6002"/>
  </BXC>
  
  <BXC_UDP>
	<IP Value="192.168.2.192"/>
	<Port Value="6000"/>
	<RecvPort Value="6002"/>
  </BXC_UDP>

  <Map>
    <Radar ID="0x01000009"/>
    <BXC ID="0x0100000a"/>
  </Map>

  <LoadFile>
    <ScnFile Value="config\Scn_0000_0214.xml"/>
    <RadarFile Value="config\Rds_0000_0009.xml"/>
    <MapFile Value="config\Map_0000_0214.xml"/>
  </LoadFile>
  
  <DDS Value="1"/>
</ConfigItem>