<?xml version="1.0" encoding="GB2312"?>
<InitInfo>
  <Radar>
    <ucStart>3</ucStart>
    <usPscCtrl>600</usPscCtrl>
    <disCmdDbf>0</disCmdDbf>
    <disCmdDbfNum>0</disCmdDbfNum>
    <disCmdShadow>0</disCmdShadow>
    <auxShadowB>0</auxShadowB>
    <disCmdPower>0</disCmdPower>
    <disCmdMutiFake>0</disCmdMutiFake>
    <ucMode>0</ucMode>
    <ucMainPulseFrq>0</ucMainPulseFrq>
    <ucFtCvrPulseFrq>0</ucFtCvrPulseFrq>
    <ucBkCvrPulseFrq>0</ucBkCvrPulseFrq>
    <usMainWaveCode>0</usMainWaveCode>
    <ucFtCvrCtrl>0</ucFtCvrCtrl>
    <ucBkCvrCtrl>0</ucBkCvrCtrl>
    <ucFtCvrDirCtrl>0</ucFtCvrDirCtrl>
    <ucBkCvrDirCtrl>0</ucBkCvrDirCtrl>
    <usFtCvrIntvl>0</usFtCvrIntvl>
    <usBkCvrIntvl>0</usBkCvrIntvl>
    <usFtCvrWaveCode>0</usFtCvrWaveCode>
    <usBkCvrWaveCode>0</usBkCvrWaveCode>
    <uiFtCvrA>0</uiFtCvrA>
    <iFtCvrE>0</iFtCvrE>
    <uiBkCvrA>0</uiBkCvrA>
    <iBkCvrE>0</iBkCvrE>
    <ucPassFollow>0</ucPassFollow>
    <ucSectorEf0>0</ucSectorEf0>
    <ucSectorEf1>0</ucSectorEf1>
    <stSector>
      <data_0>
        <usStartA>0</usStartA>
        <usEndA>0</usEndA>
        <usStartE>0</usStartE>
        <usEndE>0</usEndE>
      </data_0>
      <data_1>
        <usStartA>0</usStartA>
        <usEndA>0</usEndA>
        <usStartE>0</usStartE>
        <usEndE>0</usEndE>
      </data_1>
    </stSector>
    <disCmdAsync>0</disCmdAsync>
    <ucSearchArea1>1</ucSearchArea1>
    <ucSearchArea2>0</ucSearchArea2>
    <SEARCH_AREA_DATA>
      <data_0>
        <usStartA>600</usStartA>
        <usEndA>900</usEndA>
        <usStartE>300</usStartE>
        <usEndE>600</usEndE>
      </data_0>
      <data_1>
        <usStartA>0</usStartA>
        <usEndA>0</usEndA>
        <usStartE>0</usStartE>
        <usEndE>0</usEndE>
      </data_1>
    </SEARCH_AREA_DATA>
  </Radar>
</InitInfo>